<!DOCTYPE html>
<html>
<head>
  <title>EasyGo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#flip").click(function () {
        $(".pie-chart,.pie-chart-1").slideToggle();
      });
    });
  </script>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <link href="https://fonts.googleapis.com/css?family=Molle:400i" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><p class="logo">Easy Go</p></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/orders">Order</a>
            </li>
            <li>
              <a href="/products">Product</a>
            </li>
            <li>
              <a href="/warehouse_units/operate">Warehouse</a>
            </li>
            <li>
              <a href="/warehouse_units/print">Pick List</a>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-4 column" id="info_1">
      <h3>
        Storage
      </h3>
      <p class="pie-chart">
        <% h_map=Hash.new(0) %>
        <% WarehouseUnit.where(status: 'active').all.each { |box| box.sku.split("\n").each do |sku|
          h_map[sku]+=1
        end } %>
        <code>Products almost out of quantity</code><br>
        <% Product.pluck(:sku).select { |i| h_map[i]<5 }.each do |sku| %>
            <%= "<b>#{sku}</b> : #{h_map[sku]}</br>".html_safe %>
        <% end %>
      </p>
    </div>
    <div class="col-md-4 column" id="info_2">
      <h3>
        Orders
        <div id="flip"><span class="glyphicon glyphicon-download"></span></div>
      </h3>
      <div class="pie-chart">
        <%= pie_chart Order.group(:order_status).count %>
      </div>
    </div>
    <div class="col-md-4 column" id="info_3">
      <h3>
        Warehouse
      </h3>
      <div class="pie-chart">
        <p>There are <%= WarehouseUnit.where(status: 'active').count %> warehouse unit in active</p><br>
        <p>There are <%= WarehouseUnit.where(status: 'inactive').count %> warehouse unit <b style="color: red">not</b>
          in active</p>
      </div>
    </div>
  </div>
</div>
<%= yield %>
</body>
</html>

