<!DOCTYPE html>
<html>
<head>
  <title>EasyGo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
      $(document).ready(function () {
          $(".pie-chart,.pie-chart-1").hide();
          $("#flip").click(function () {
              $(".pie-chart,.pie-chart-1").slideToggle('slow',changeClass());
          });
      });

      function changeClass(){
          var coin = document.getElementById("memeda");

          if (coin.className=="glyphicon glyphicon-upload")
              coin.className="glyphicon glyphicon-download";
          else
              coin.className="glyphicon glyphicon-upload"
      }




  </script>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <link href="https://fonts.googleapis.com/css?family=Molle:400i" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EasyGo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" style="display: inline-block">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/orders">Order</a></li>
        <li><a href="/products">Product</a></li>
        <li> <a href="/warehouse_units/operate">Warehouse</a></li>
        <li> <a href="/warehouse_units/print">Pick List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column" id="info_1">
      <h3>
        Storage
      </h3>
      <p class="pie-chart">
        <% h_map=Hash.new(0) %>
        <% WarehouseUnit.where(status: 'active').all.each { |box| box.sku.split("\n").each do |sku|
          h_map[sku]+=1
        end } %>
        <code>Products almost out of quantity</code><br>
        <% Product.pluck(:sku).select { |i| h_map[i]<5 }.each do |sku| %>
            <%= "<b>#{sku}</b> : #{h_map[sku]}</br>".html_safe %>
        <% end %>
      </p>
    </div>
    <div class="col-md-4 column" id="info_2">
      <h3>
        Orders
        <br>
        <div id="flip"><span id="memeda" class="glyphicon glyphicon-download"></span></div>
      </h3>
      <div class="pie-chart">
        <%= pie_chart Order.group(:order_status).count %>
      </div>
    </div>
    <div class="col-md-4 column" id="info_3">
      <h3>
        Warehouse
      </h3>
      <div class="pie-chart">
        <p>There are <%= WarehouseUnit.where(status: 'active').count %> warehouse unit in active</p><br>
        <p>There are <%= WarehouseUnit.where(status: 'inactive').count %> warehouse unit <b style="color: #ff3a6c">not</b>
          in active</p>
      </div>
    </div>
  </div>
</div>


<%= yield %>
</body>
</html>

